.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.3s;
}

.slide-right-enter,
.slide-right-leave-to {
  transform: translateX(-100vw);
}

.slide-right-enter {
  transform: translateX(100vw);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform 0.3s;
}

.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(100vw);
}

.slide-left-enter {
  transform: translateX(-100vw);
}